@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Anton');




.wrapper{
    max-width: 980px;

}

header{
    font-family: 'Anton';
    font-weight: bold;  /* Google fonts:  */
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(5, 23, 104);
    color: beige;
    box-shadow: 10px 10px beige;
    padding: 2rem 1rem;

}

article {
    font: outline;
    margin: auto;
}

article p:first-child{
    font-size: 1.1rem;
    margin-bottom: 2%;

}

cite{
    quotes: """ """ ;
}